trunk/remedy-ws-xmlbeans/src/main/xsd/RemedyTypes.xsd

<xsd:schema 
elementFormDefault="qualified" 
targetNamespace="urn:HPD_IncidentInterface_Create_WS_VIP" 
	xmlns:s0="urn:HPD_IncidentInterface_Create_WS_VIP" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="HelpDesk_Submit_Service" type="s0:CreateInputMap"/>
   <xsd:complexType name="CreateInputMap">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="Assigned_Group" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Assigned_Group_Shift_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Assigned_Support_Company" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Assigned_Support_Organization" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Assignee" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Categorization_Tier_1" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Categorization_Tier_2" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Categorization_Tier_3" type="xsd:string"/>
     <xsd:element minOccurs="0" name="CI_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Closure_Manufacturer" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Closure_Product_Category_Tier1" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Closure_Product_Category_Tier2" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Closure_Product_Category_Tier3" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Closure_Product_Model_Version" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Closure_Product_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Department" type="xsd:string"/>
     <xsd:element name="First_Name" type="xsd:string"/>
     <xsd:element name="Impact" nillable="true" type="s0:ImpactType"/>
     <xsd:element name="Last_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Lookup_Keyword" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Manufacturer" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Product_Categorization_Tier_1" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Product_Categorization_Tier_2" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Product_Categorization_Tier_3" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Product_Model_Version" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Product_Name" type="xsd:string"/>
     <xsd:element name="Reported_Source" nillable="true" type="s0:Reported_SourceType"/>
     <xsd:element minOccurs="0" name="Resolution" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Resolution_Category_Tier_1" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Resolution_Category_Tier_2" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Resolution_Category_Tier_3" type="xsd:string"/>
     <xsd:element name="Service_Type" nillable="true" type="s0:Service_TypeType"/>
     <xsd:element name="Status" type="s0:StatusType"/>
     <xsd:element name="Action" type="xsd:string"/>
     <xsd:element default="Yes" minOccurs="0" name="Create_Request" type="s0:Create_RequestType"/>
     <xsd:element name="Summary" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Notes" type="xsd:string"/>
     <xsd:element name="Urgency" nillable="true" type="s0:UrgencyType"/>
     <xsd:element minOccurs="0" name="Work_Info_Summary" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Work_Info_Notes" type="xsd:string"/>
     <xsd:element default="----- Customer Inbound -----" minOccurs="0" name="Work_Info_Type" type="s0:Work_Info_TypeType"/>
     <xsd:element minOccurs="0" name="Work_Info_Date" type="xsd:dateTime"/>
     <xsd:element default="Email" minOccurs="0" name="Work_Info_Source" type="s0:Work_Info_SourceType"/>
     <xsd:element default="No" minOccurs="0" name="Work_Info_Locked" type="s0:Create_RequestType"/>
     <xsd:element default="Internal" minOccurs="0" name="Work_Info_View_Access" type="s0:Work_Info_View_AccessType"/>
     <xsd:element minOccurs="0" name="Middle_Initial" type="xsd:string"/>
     <xsd:element default="Infrastructure Change Created" minOccurs="0" name="Status_Reason" type="s0:Status_ReasonType"/>
     <xsd:element minOccurs="0" name="Direct_Contact_First_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Direct_Contact_Middle_Initial" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Direct_Contact_Last_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="TemplateID" type="xsd:string"/>
     <xsd:element minOccurs="0" name="ServiceCI" type="xsd:string"/>
     <xsd:element minOccurs="0" name="ServiceCI_ReconID" type="xsd:string"/>
     <xsd:element minOccurs="0" name="HPD_CI" type="xsd:string"/>
     <xsd:element minOccurs="0" name="HPD_CI_ReconID" type="xsd:string"/>
     <xsd:element minOccurs="0" name="HPD_CI_FormName" type="xsd:string"/>
     <xsd:element minOccurs="0" name="WorkInfoAttachment1Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="WorkInfoAttachment1Data" type="xsd:base64Binary"/>
     <xsd:element minOccurs="0" name="WorkInfoAttachment1OrigSize" type="xsd:int"/>
     <xsd:element minOccurs="0" name="Sede_Int" nillable="true" type="s0:Sede_IntType"/>
     <xsd:element minOccurs="0" name="Classificazione" type="xsd:string"/>
     <xsd:element minOccurs="0" name="ADR_BE" nillable="true" type="s0:ADR_BEType"/>
     <xsd:element minOccurs="0" name="Classe" nillable="true" type="s0:ClasseType"/>
     <xsd:element minOccurs="0" name="PIN" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Numero_Chiamante" type="xsd:string"/>
     <xsd:element minOccurs="0" name="TipoAssistenza" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Sistema_sorgente" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ImpactType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="1-Extensive/Widespread"/>
     <xsd:enumeration value="2-Significant/Large"/>
     <xsd:enumeration value="3-Moderate/Limited"/>
     <xsd:enumeration value="4-Minor/Localized"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Reported_SourceType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Direct Input"/>
     <xsd:enumeration value="Email"/>
     <xsd:enumeration value="External Escalation"/>
     <xsd:enumeration value="Fax"/>
     <xsd:enumeration value="Self Service"/>
     <xsd:enumeration value="Systems Management"/>
     <xsd:enumeration value="Phone"/>
     <xsd:enumeration value="Voice Mail"/>
     <xsd:enumeration value="Walk In"/>
     <xsd:enumeration value="Web"/>
     <xsd:enumeration value="Other"/>
     <xsd:enumeration value="BMC Impact Manager Event"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Service_TypeType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="User Service Restoration"/>
     <xsd:enumeration value="User Service Request"/>
     <xsd:enumeration value="Infrastructure Restoration"/>
     <xsd:enumeration value="Infrastructure Event"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StatusType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="New"/>
     <xsd:enumeration value="Assigned"/>
     <xsd:enumeration value="In Progress"/>
     <xsd:enumeration value="Pending"/>
     <xsd:enumeration value="Resolved"/>
     <xsd:enumeration value="Closed"/>
     <xsd:enumeration value="Cancelled"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Create_RequestType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Yes"/>
     <xsd:enumeration value="No"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UrgencyType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="1-Critical"/>
     <xsd:enumeration value="2-High"/>
     <xsd:enumeration value="3-Medium"/>
     <xsd:enumeration value="4-Low"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Work_Info_TypeType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="----- Customer Inbound -----"/>
     <xsd:enumeration value="Customer Communication"/>
     <xsd:enumeration value="Customer Follow-up"/>
     <xsd:enumeration value="Customer Status Update"/>
     <xsd:enumeration value="----- Customer Outbound -----"/>
     <xsd:enumeration value="Closure Follow Up"/>
     <xsd:enumeration value="Detail Clarification"/>
     <xsd:enumeration value="General Information"/>
     <xsd:enumeration value="Resolution Communications"/>
     <xsd:enumeration value="Satisfaction Survey"/>
     <xsd:enumeration value="Status Update"/>
     <xsd:enumeration value="----- General -----"/>
     <xsd:enumeration value="Incident Task / Action"/>
     <xsd:enumeration value="Problem Script"/>
     <xsd:enumeration value="Working Log"/>
     <xsd:enumeration value="Email System"/>
     <xsd:enumeration value="Paging System"/>
     <xsd:enumeration value="BMC Impact Manager Update"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Work_Info_SourceType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Email"/>
     <xsd:enumeration value="Fax"/>
     <xsd:enumeration value="Phone"/>
     <xsd:enumeration value="Voice Mail"/>
     <xsd:enumeration value="Walk In"/>
     <xsd:enumeration value="Pager"/>
     <xsd:enumeration value="System Assignment"/>
     <xsd:enumeration value="Web"/>
     <xsd:enumeration value="Other"/>
     <xsd:enumeration value="BMC Impact Manager Event"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Work_Info_View_AccessType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Public"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Status_ReasonType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Infrastructure Change Created"/>
     <xsd:enumeration value="Local Site Action Required"/>
     <xsd:enumeration value="Purchase Order Approval"/>
     <xsd:enumeration value="Registration Approval"/>
     <xsd:enumeration value="Supplier Delivery"/>
     <xsd:enumeration value="Support Contact Hold"/>
     <xsd:enumeration value="Third Party Vendor Action Reqd"/>
     <xsd:enumeration value="Client Action Required"/>
     <xsd:enumeration value="Infrastructure Change"/>
     <xsd:enumeration value="Request"/>
     <xsd:enumeration value="Future Enhancement"/>
     <xsd:enumeration value="Pending Original Incident"/>
     <xsd:enumeration value="Client Hold"/>
     <xsd:enumeration value="Monitoring Incident"/>
     <xsd:enumeration value="Customer Follow-Up Required"/>
     <xsd:enumeration value="Temporary Corrective Action"/>
     <xsd:enumeration value="No Further Action Required"/>
     <xsd:enumeration value="Resolved by Original Incident"/>
     <xsd:enumeration value="Automated Resolution Reported"/>
     <xsd:enumeration value="No longer a Causal CI"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Sede_IntType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="FCO"/>
     <xsd:enumeration value="CIA"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ADR_BEType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="SI"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ClasseType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="A"/>
     <xsd:enumeration value="B"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="HelpDesk_Submit_ServiceResponse" type="s0:CreateOutputMap"/>
   <xsd:complexType name="CreateOutputMap">
    <xsd:sequence>
     <xsd:element name="Incident_Number" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
   <xsd:complexType name="AuthenticationInfo">
    <xsd:sequence>
     <xsd:element name="userName" type="xsd:string"/>
     <xsd:element name="password" type="xsd:string"/>
     <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
     <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
     <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>